Tarea Final Miguel Flores20251120final.json
{
  "name": "Tarea Final Miguel Flores",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        80
      ],
      "id": "64c5d7c6-c632-441f-8488-5571019b13cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "estado_archivos",
        "limit": 100
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        80
      ],
      "id": "b38190c2-bcc2-49e3-84e6-ba190027f493",
      "name": "Obtener estado actual1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "oI6yrxmbtCbDdpaa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const archivosActuales = $(\"Obtener estado actual\")\n.all()\n.map((item) => item.json);\nconst archivosAnteriores = $input.all().map((item) => item.json);\nlet archivos_a_agregar = [];\nlet archivos_a_modificar = [];\nlet archivos_a_eliminar = [];\narchivosActuales.forEach((archivoActual) => {\nconst archivoAnterior = archivosAnteriores.find(\n(archivoAnterior) => archivoAnterior.nombre_archivo === archivoActual.name,\n);\nif (!archivoAnterior) {\narchivos_a_agregar.push(archivoActual);\n} else if (new Date(archivoAnterior.ultima_modificacion).getTime() !== new\nDate(archivoActual.updated_at).getTime()\n) {\narchivos_a_modificar.push(archivoActual);\n}\n});\narchivosAnteriores.forEach((archivoAnterior) => {\nconst archivoPosterior = archivosActuales.find(\n(archivoPosterior) => archivoAnterior.nombre_archivo === archivoPosterior.name,\n);\nif (!archivoPosterior) {\narchivos_a_eliminar.push(archivoAnterior);\n}\n});\n\nreturn { archivos_a_agregar, archivos_a_modificar, archivos_a_eliminar };\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        80
      ],
      "id": "8d387c75-c1de-4584-b80b-480ef4bc9ee3",
      "name": "comparar estados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ogzwsegqewjnwpwkmysk.supabase.co/storage/v1/object/list/almacenamiento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nendzZWdxZXdqbndwd2tteXNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0MTEzODQsImV4cCI6MjA3ODk4NzM4NH0.G3wRkRLTXWtfcxNSFOqRZYlPUSTkRbAZZuNzUKwrX0M"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nendzZWdxZXdqbndwd2tteXNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0MTEzODQsImV4cCI6MjA3ODk4NzM4NH0.G3wRkRLTXWtfcxNSFOqRZYlPUSTkRbAZZuNzUKwrX0M"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prefix"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        80
      ],
      "id": "a1dcfdc1-d98a-4b4f-8be6-4b282a46b71a",
      "name": "Obtener estado actual"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "estado_archivos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "da57eed2-a688-4752-a2cd-975f86f40994",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oI6yrxmbtCbDdpaa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "archivos_a_agregar, archivos_a_modificar",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        688,
        144
      ],
      "id": "3f44e9cf-a28b-4bc9-ad6b-c45c96505e4b",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25a7d192-a79f-4408-8984-b53f795b83ae",
              "name": "archivos_a_agregar",
              "value": "={{ $('If').item.json.archivos_a_agregar }}",
              "type": "array"
            },
            {
              "id": "36b69116-d5b9-41e5-8bdc-7490273cd008",
              "name": "archivos_a_modificar",
              "value": "={{ $('If').item.json.archivos_a_modificar }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        144
      ],
      "id": "a1ba9d4d-45b4-46e0-b1f6-02d80be85784",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "estado_archivos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre_archivo",
              "fieldValue": "={{ $json.archivos_a_agregar.name }}"
            },
            {
              "fieldId": "fecha_creacion",
              "fieldValue": "={{ $json.archivos_a_agregar.created_at }}"
            },
            {
              "fieldId": "ultima_modificacion",
              "fieldValue": "={{ $json.archivos_a_agregar.updated_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        144
      ],
      "id": "d8d3e4d8-bd9e-415b-8066-322f77277275",
      "name": "Create a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oI6yrxmbtCbDdpaa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abbdd59f-942c-4940-8bba-d4c73411be1b",
              "name": "URL",
              "value": "=https://ogzwsegqewjnwpwkmysk.supabase.co/storage/v1/object/public/almacenamiento/{{ $json.archivos_a_agregar.name }}",
              "type": "string"
            },
            {
              "id": "1dddcbb2-64c6-4d83-b208-e25dbcad33ae",
              "name": "TIPO_ARCHIVO",
              "value": "={{ $json.archivos_a_agregar.metadata.mimetype }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        448
      ],
      "id": "5d45aadc-93d0-4236-bc52-881eb28a2ca2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "archivos_a_agregar, archivos_a_modificar",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -592,
        448
      ],
      "id": "221e7b20-8707-4f06-ab24-893e1d4a7b84",
      "name": "Split Out1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25a7d192-a79f-4408-8984-b53f795b83ae",
              "name": "archivos_a_agregar",
              "value": "={{ $('If').item.json.archivos_a_agregar }}",
              "type": "array"
            },
            {
              "id": "36b69116-d5b9-41e5-8bdc-7490273cd008",
              "name": "archivos_a_modificar",
              "value": "={{ $('If').item.json.archivos_a_modificar }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        448
      ],
      "id": "7e0ca749-d7c9-46be-941b-a6ad980ee27c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        512
      ],
      "id": "2bb1aa4a-3111-4648-9709-e53734b30ff0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        528
      ],
      "id": "9f75ade7-74f9-4dcd-847a-8ccd9c025250",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.TIPO_ARCHIVO }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a4b864fe-d383-4e11-bccc-d0aead8b154e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bc85e14-bf68-42d3-83f9-7b707306ff3e",
                    "leftValue": "=csb {{ $json.TIPO_ARCHIVO }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        160,
        528
      ],
      "id": "2600bdcf-86ae-477a-a2fc-c7b9e334e088",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        464,
        432
      ],
      "id": "7042fe80-bb30-4a8a-9a8c-2a22b465b939",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        464,
        624
      ],
      "id": "89699a18-8c88-4833-9512-100575a65371",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5d48dba-b489-4626-a546-055ee380eaaf",
              "leftValue": "={{ $json.archivos_a_agregar }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "72ff35de-e2d6-40e8-81c1-5820ce1ee0fd",
              "leftValue": "={{ $json.archivos_a_modificar }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "41e9ce0a-84b9-4986-b3cc-6572f9f3b197",
              "leftValue": "={{ $json.archivos_a_eliminar }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        80
      ],
      "id": "78a84b0b-66bf-40e3-876a-cb315aa03304",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "2546722d-77c8-4eb7-88c9-ebc1123998c9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "auxiliar",
          "mode": "list",
          "cachedResultName": "auxiliar"
        },
        "embeddingBatchSize": 800,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        480
      ],
      "id": "eb964848-694f-495a-b207-a98110238c24",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "oI6yrxmbtCbDdpaa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        704,
        640
      ],
      "id": "9b0c8b4c-b7bb-45b6-be53-684f504a08f8",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "sVoXOZsXL7039GBq",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        656
      ],
      "id": "78411770-1946-4ff9-ba27-540f57e5d3fb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "estado_archivos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gt",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1bc9848d-2704-43d2-a0ad-21a686ddd559",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oI6yrxmbtCbDdpaa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "Uso 800 por ser un valor promedio en los distintos tipos de documentos, generalmente técnicos y de asesoramiento"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        592
      ],
      "id": "fd8c857b-08e2-479a-a815-43e03d86b609",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener estado actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener estado actual1": {
      "main": [
        [
          {
            "node": "comparar estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener estado actual": {
      "main": [
        [
          {
            "node": "Obtener estado actual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comparar estados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67819168-2d36-4282-9ac6-1ee996f87b04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c7ff2a31c3fbd6e782428a1ceb39149178bade4226429348ff7be2a3386f9bf"
  },
  "id": "DUm1Xl0NDKjm3myb",
  "tags": []
}